header {
    background-color: lightgray;
    height: 250px;
}

footer {
    background-color: lightgray;
    height: 150px;
}

a.navlink {text-decoration: none}

nav ul {list-style: none;
        margin: 0;
        padding: 0;
        display: none
}

nav ul li {border-top: solid darkblue 2px;
            color: black;
            background-color: powderblue;
}

nav ul li:hover {
    background-color: rgb(86, 211, 253);
}

nav {width: 150px;
    text-align: center;
    border: solid darkblue 2px;
    color: white;
    background-color: royalblue;
}

nav:hover ul {
    display: block
}